@charset "UTF-8";
:root {
    --monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --primary: #28a;
    --primary-light: #39b;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline:0;
    font-family: var(--monospace);
}